<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asd.mapper.CategoryMapper">
	<insert id="saveCategory" useGeneratedKeys="true" keyProperty="category.catagoryId">
		INSERT IGNORE catagory (url,catagoryName) VALUES
			(#{category.url},#{category.catagoryName})
    </insert>

</mapper>
